<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../public/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap&subset=korean" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <header id="header1">
    <div class="layout">
      <div class="logo_wrap">
        <div class="logo">
        <a href="/"><img src="../../public/images/logo.png"></a>
        </div>
      <div id="search_input_wrap">
        <form action="/search" method="GET" name="frm_search">
          <input type="text" id="search" name="search">
          <div id="search_btn_wrap">
            <button type="button" id="search_btn" onclick="search_start()" class="btn btn-dark">검색</button>
          </div>
        </form>
      </div>
    </div>
  </header>