<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
  <body>
    <a href="/">home</a>
    <form action="/search" method="GET">
      <input type="text" class="form-control" id="search" name="search" placeholder="제목 + 글내용를 입력해서 검색해주세요.">
      <div id="search_btn_wrap">
        <button type="submit" id="search_btn">검색</button>
      </div>
    </form>