<% include ./index/top.ejs%>
<section class="section1">
  <div class="board_list_wrap">
    <div id="gap">
    <a>홈페이지</a>
  </div>
    <div id="home_btn_wrap_wrap"> 
      <div id="home_post_btn_wrap">
        <button type="submit" onclick="location.href='/post/1'" class="btn">게시글</button>
      </div>
      <div id="home_translator_btn_wrap">
        <button type="submit" onclick="location.href='/translator'" class="btn">번역기</button>
      </div>
    </div>
  </div>
</section>
</div>
</div>
<% include ./index/foot.ejs%>