<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
  <body>
    <section class="section1">
      <table class="table table-bordered">
      <a href="/post_make">글쓰기</a>
      <div class="container">
        <thead>
          <th>글</th>
          <th>작성자</th>
          <th>작성일</th>
        </thead>
        <tbody>
          <%if(post[0] === undefined){%>
            <td colspan="3" class="non_text">데이터가 없습니다.</td>
          <%}else if(!post.id){%>
          <% for(let i=0; i<post.length; i++) { %>
            <tr>
              <td><a href="/post/<%=post[i].data.id%>"><%= post[i].data.title %></a></td>
              <td><%= post[i].data.user %></td>
              <td><%=post[i].date%></td>
              <%}%>
              <%}%>
            </tr>
        </tbody>
      </table>
      </div>
    </section>
  </body>
</html>
