<% include ./index/top.ejs%>
<section class="section1">
  <div class="board_list_wrap">
    <a>회원가입</a>
  </div>
  <div class="board_form_wrap">
    <form action="/users/join" method="POST" name="frm_join">
      <div class="form-group">
        <label>id:</label>
        <input type="text" class="form-control" id="id" name="id">
      </div>
      <div class="form-group">
        <label>password:</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="form-group">
        <label>username:</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div id="join_btn_wrap_wrap">
        <div id ="join_btn_wrap">
          <button type="button" id="join_btn" onclick="join()" class="btn">회원가입</button>
        </div>
        <div id ="join_back_btn_wrap">
          <button type="button" onclick="location.href='/'" id="join_back_btn" class="btn">돌아가기</button>
        </div>
      </div>
    </form>
  </div>
</section>
</div>
<script>
  let join = function () {
    if(!document.getElementById('id').value){
      alert('아이디를 입력해주세요.');
      id.focus();
      return;
    }
    if(!document.getElementById('password').value){
      alert('비밀번호를 입력해주세요.');
      password.focus();
      return;
    }
    if(!document.getElementById('username').value){
      alert('이름을 입력해주세요.');
      username.focus();
      return;
    }
    frm_join.submit();
  }
  if(join){
    
  }
  alert('<%=message%>')
</script>
<% include ./index/foot.ejs%>