<% include ./index/top.ejs%>
<script>

</script>

<section class="section1">
  <div class="board_list_wrap">
    <a>회원가입</a>
  </div>
  <div class="board_form_wrap">
    <form action="/users/join" method="POST" name="frm_join">
      <div class="form-group">
        <label>id:</label>
        <input type="email" class="form-control" id="id" name="id">
      </div>
      <div id ="join_check_btn_wrap">
        <button type="button" onclick="id_check()" id="join_check_btn" class="btn">중복체크</button>
      </div>
      <div id="join_check_result"></div>
      <div class="form-group">
        <label>password:</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="form-group">
        <label>username:</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div id="join_btn_wrap_wrap">
        <div id ="join_btn_wrap">
          <button type="button" id="join_btn" onclick="join()" class="btn">회원가입</button>
        </div>
        <div id ="join_back_btn_wrap">
          <button type="button" onclick="location.href='/'" id="join_back_btn" class="btn">돌아가기</button>
        </div>
      </div>
    </form>
  </div>
</section>
</div>
<script>
  let join = function () {
    if(!document.getElementById('id').value){
      alert('아이디를 입력해주세요.');
      id.focus();
      return;
    }
    if(!document.getElementById('password').value){
      alert('비밀번호를 입력해주세요.');
      password.focus();
      return;
    }
    if(!document.getElementById('username').value){
      alert('이름을 입력해주세요.');
      username.focus();
      return;
    }
    if(id_check()){
      alert('중복확인을 해주세요');
			return;
    }
    frm_join.submit();
  }

  let id_check =function(){
  let user_id =$('#id').val();
  if(!user_id){
    alert('아이디를 입력하세요');
    $('#id').focus();
    return;
  }
  $.ajax({
    url: "/users/join_idcheck",
    type:"post",
    header:{
    "Content-Type":"application/javascript",
    "X-HTTP-Method-Override":"post"},
    async:false,
    data:$('#id'),
    success:function(result){
      // console.log(result);
      let point = '';
      if(!result){
        // let answer = '사용할 수 있습니다.'
        let point = true;
        let result_val = $("#join_check_result").text(result);
      }else{
        // let answer = '사용할 수 없습니다.'
        let point = false;
        let result_val = $("#join_check_result").text(result);
      }
      console.log(point);
      return;
      },
    error:function(req,status,error){
      console.log(req.status);
      }
    })
  }
</script>
<% include ./index/foot.ejs%>