<% include ./index/top.ejs%>
<div class="layout">
<section class="section1">
  <div class="board_list_wrap">
    <a>게시글 목록</a>
  </div>
  <table class="table table-bordered ">
  <div class="container">
    <thead>
      <th>글</th>
      <th>작성자</th>
      <th>작성일</th>
    </thead>
    <tbody>
      <%if(post[0] === undefined){%>
        <td colspan="3" class="non_text">데이터가 없습니다.</td>
      <%}else if(!post.id){%>
      <% for(let i=0; i<post.length; i++) { %>
        <tr>
          <td><a href="/post/<%=post[i].data.id%>"><%= post[i].data.title %></a></td>
          <td><%= post[i].data.user %></td>
          <td><%=post[i].date%></td>
          <%}%>
          <%}%>
        </tr>
    </tbody>
  </table>
  </div>
</section>
</div>
<% include ./index/foot.ejs%>
