<% include ./index/top.ejs%>
<section class="section1">
  <table class="table table-bordered">
  <form accept="/post_make" method="GET">
    <button type="button" onclick="location.href='/post_make'" id="make_post_btn">글쓰기</button>
  </form>
  <div class="container">
    <thead>
      <th>글</th>
      <th>작성자</th>
      <th>작성일</th>
    </thead>
    <tbody>
      <%if(post[0] === undefined){%>
        <td colspan="3" class="non_text">데이터가 없습니다.</td>
      <%}else if(!post.id){%>
      <% for(let i=0; i<post.length; i++) { %>
        <tr>
          <td><a href="/post/<%=post[i].data.id%>"><%= post[i].data.title %></a></td>
          <td><%= post[i].data.user %></td>
          <td><%=post[i].date%></td>
          <%}%>
          <%}%>
        </tr>
    </tbody>
  </table>
  </div>
</section>
<!-- <script type="text/JavaScript">
  let make_post =function () {
    if(!session){
      alert('로그인을 해주세요');
    }
  }
</script> -->
<% include ./index/foot.ejs%>
