<% include ./index/top.ejs%>
<section class="section1">
  <form action="/post_make" method="POST">
  <div class="form-group">
    <label for="title">title:</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea class="form-control" rows="5" id="description" name="description"></textarea>
  </div>
  <div id ="post_make_btn_wrap">
    <button type="submit" class="btn btn-primary" id="post_make_btn">생성</button>
  </div>  
  </form>
</section>
<% include ./index/foot.ejs%>
