<% include ./index/top.ejs%>
<section class="section1">
  <div class="board_list_wrap">
    <a>게시글 목록</a>
  </div>
<div class="board_form_wrap">
  <table class="table table-bordered ">
  <div class="container">
    <thead>
      <th>글</th>
      <th>작성자</th>
      <th>작성일</th>
    </thead>
    <tbody class="list_padding">
      <%if(post[0] === undefined){%>
        <td colspan="3" class="non_text">데이터가 없습니다.</td>
      <%}else if(!post.id){%>
      <% for(let i=0; i<post.length; i++) { %>
        <tr>
          <td><a href="/post/page/<%=post[i].data.id%>"><%= post[i].data.title %></a></td>
          <td><%= post[i].data.user %></td>
          <td><%=post[i].date%></td>
          <%}%>
          <%}%>
        </tr>
    </tbody>
  </table>
</div>
  </div>
  <div id="post_page_wrap">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      
      <% for(let j=1; j<count.lenght; j++) {%>
      
      <li class="page-item"><a class="page-link" href="/post/">1</a></li>
      <%}%>
     
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>
</section>
</div>
<% include ./index/foot.ejs%>
