<% include ./index/top.ejs%>
<section class="section1">
  <div class="board_list_wrap">
    <a>게시글 목록</a>
  </div>
<div class="board_form_wrap">
  <table class="table table-bordered ">
  <div class="container">
    <thead>
      <th>글</th>
      <th>작성자</th>
      <th>작성일</th>
    </thead>
    <tbody class="list_padding">
      <%if(search[0] === undefined){%>
        <td colspan="3" class="non_text">데이터가 없습니다.</td>
      <%}else if(!search.id){%>
      <% for(let i=0; i<search.length; i++) { %>
        <tr>
          <td><a href="/post/<%=search[i].id%>"><%= search[i].title %></a></td>
          <td><%= search[i].user %></td>
          <td><%=date[i].date%></td>
          <%}%>
          <%}%>
        </tr>
    </tbody>
  </table>
</div>
  </div>
</section>
</div>
<% include ./index/foot.ejs%>