<% include ./index/top.ejs%>
  <section>
    <div class="board_list_wrap">
      <a>번역기</a>
    </div>
    <div class="board_form_wrap">
      <div id="tanslator_input_wrap">
        <form action="/translator/result" method="get" name="frm_translator">
          <textarea name="translator">
            
          </textarea>
          <button type="submit" > 번역</button>
        </form>
      </div>
      <div id="tanslator_result_wrap">
        <textarea name="translator_result">
          <%=result%>
        </textarea>
      </div>
    </div>
  </section>
  </div>
</div>
<% include ./index/foot.ejs%>